<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("partials/header.ejs") %>

    <h1>Welcome to BlogVerse</h1>
    <ul>
        <% posts.forEach(function(post) { %>
            <a href="/posts/<%=post.id%>">
                <div>
                    <h2><%= post.title %></h2>
                    <p><strong>Author: </strong><%= post.author %></p>
                    <img style="width: 20%; height: 20%;" src="/<%= post.image.src %>" alt="<%= post.image.alt %>" />
                    <p>Published on <%= post.datePublished %></p>
                </div>
            </a>
            <br>
        <% }); %>
    </ul>
</body>
</html>