<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/handlePost.js" defer></script>
    <title>Post Modification</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/post-create-styles.css">
    <script src="/js/handleNavbar.js" defer></script>
</head>
<body>
    <%- include("partials/header.ejs") %>
    <div class="post-create-container">
        <div class="create-post">
            <form action="/post/update/<%=post.id%>" method="post" enctype="multipart/form-data">
                <div class="left-column">
                    <h1>Modify the post</h1>
                    <label for="titleToUpdate"><strong>Title</strong></label>
                    <input type="text" id="titleToUpdate" name="titleToUpdate" value="<%=post.title%>" placeholder="Modify the title">

                    <label for="authorToUpdate"><strong>Author</strong></label>
                    <input type="text" id="authorToUpdate" name="authorToUpdate" value="<%=post.author%>" placeholder="Modify the author">

                    <label for="imageToUpdate"><strong>Image (*jpg file)</strong></label>
                    <img style="width: 40%; height: 40%;" src="/<%=post.image.src%>"><br>
                    <input type="file" id="imageToUpdate" name="imageToUpdate" accept="image/jpg">

                    <button type="button" onclick="modify('<%=post.id%>')">Save</button>
                </div>

                <div class="right-column">
                    <textarea id="contentToUpdate" name="contentToUpdate" placeholder="Modify your post here..."><%=post.content%></textarea><br>
                </div>
                
            </form>
        </div>
        
    </div>
    
</body>
</html>